<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEPC - Admin Manage User</title>
    <link rel="stylesheet" href="../../public/assets/css/admin_manage_user.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Admin Manage User</h1>
        </div>
        <div class="users-container">
            <div class="users-table">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Status</th>
                            <th>Files</th>
                            <th>Last Login</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
        </div>
    </div>
</body>
</html>